---
const today = new Date();
---

<footer>
	<div class="container">
		&copy; {today.getFullYear()} SolitaireCC. All rights reserved.
		<p class="disclaimer">
			SolitaireCC is an independent review site. We may earn commissions from links. Real money gaming is not
			available in AZ, AR, CT, DE, LA, MT, SC, SD, TN, VT.
		</p>
	</div>
</footer>
